<div class="container">
  <div class="columns">
    <div class="column">
      <img
        class="image"
        [src]="answerUrl"
        alt="This image doesnt exist click again :("
      />
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <p class="title is-1">
        {{ answerTxt }}
      </p>
    </div>
  </div>
  <div class="columns">
    <div class="columm">
      <button (click)="callAnswer()" class="button is-info">
        Ask a question and click for your answer
      </button>
    </div>
  </div>
</div>
